player-connection-mode=Connect
player-connection-guid=3531508934
player-connection-debug=0
player-connection-project-name=My project
player-connection-wait-timeout=-1
player-connection-ip=172.28.144.1
player-connection-ip=192.168.86.184
profiler-enable=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=089755afbeb44579a9d543a332783a00
